In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

rc = {
    "font.family": "serif",
    "font.size": 10,
    "axes.axisbelow": True,
    "grid.linestyle": '--',
    "axes.grid": True,
    "mathtext.fontset": "cm",
    "grid.alpha": 0.3,
    "text.usetex": True
}

# plt.rcParams.keys
plt.rcParams.update(rc)


from q_factor import q_func_polynomial
from methods import secant, mod_secant, bisection, secant_full
from q_factor import get_q_df

In [2]:
q_values = get_q_df('./data_in/QVALUES.txt')

q_values['Q'] = q_values['Q'] * 1

q_values

    i_ref        Q
0     0.0   22.709
1     0.1   27.925
2     0.2   32.978
3     0.3   38.767
4     0.4   46.492
5     0.5   56.466
6     0.6   68.512
7     0.7   84.725
8     0.8  115.720
9     0.9  164.860
10    1.0  314.650

In [3]:
def build_test(test_dict: dict,
               q_values: pd.DataFrame,
               q_func_polynomial: callable,
               method: callable,
               include_q_drop=False):

    a = test_dict['a']
    b = test_dict['b']
    seek = test_dict['seek']
    tol = test_dict['tol']
    MAX_ITER = test_dict['max_iter']

    x = np.arange(0, 1, 1e-3)
    f = q_func_polynomial(x, q_values, deg=9, include_q_drop=include_q_drop)

    results = method(a, b, seek, tol, f, MAX_ITER, debug=True)

    return results

In [8]:
test_dict = {
    'a'         : 0.0,
    'b'         : 1.0,
    'seek'      : 110,
    'tol'       : 0.0001,
    'max_iter'  : 20,
}

build_test(test_dict=test_dict,
           q_values=q_values,
           q_func_polynomial=q_func_polynomial,
           method=secant_full,
           include_q_drop=False)

,iter,a,b,c,f(a),f(b),f(c),slope,error
0,1,0.000000,1.000000,0.299006,22.707900,314.648900,38.839856,291.941000,-71.160144
1,2,1.000000,0.299006,0.479866,314.648900,38.839856,54.497986,393.454195,-55.502014
2,3,0.299006,0.479866,1.120945,38.839856,54.497986,1623.460030,86.575946,1513.460030
3,4,0.479866,1.120945,0.502544,54.497986,1623.460030,57.028494,2447.377365,-52.971506
4,5,1.120945,0.502544,0.523456,1623.460030,57.028494,59.379481,2533.036228,-50.620519
5,6,0.502544,0.523456,0.973731,57.028494,59.379481,248.961601,112.421497,138.961601
6,7,0.523456,0.973731,0.643685,59.379481,248.961601,74.313694,421.036886,-35.686306
7,8,0.973731,0.643685,0.711124,248.961601,74.313694,87.462432,529.162090,-22.537568
8,9,0.643685,0.711124,0.826718,74.313694,87.462432,126.652723,194.971528,16.652723
9,10,0.711124,0.826718,0.777600,87.462432,126.652723,107.326038,339.033510,-2.673962
10,11,0.826718,0.777600,0.784396,126.652723,107.326038,109.773166,393.472828,-0.226834
11,12,0.777600,0.784396,0.785026,107.326038,109.773166,110.003765,360.094215,0.003765
12,13,0.784396,0.785026,0.785015,109.773166,110.003765,109.999995,366.070374,-0.000005