In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
df = pd.read_csv('./list.lst', sep=r'\s+', header=None, skiprows=6)

df

       0  1  2  3  4  5   6
0      1  0 -1  0  0  x   x
1      1  2 -1  0  0  0   x
2      2  0  0  0  0  0   x
3      3  0 -1  0  0  0   x
4      4  0  0  0  0  0   x
..   ... .. .. .. .. ..  ..
233  228  0  0  0  *  *  90
234  229  0 -1  0  *  *  90
235  230  0  0  0  *  *  90
236  231  0 -1  0  *  *  90
237  232  0  0  0  *  *  90

[238 rows x 7 columns]